#include "wellum34.dtsi"

&default_transform {
	col-offset = <18>;
};

&kscan0 {
	input-gpios
		= <&gpio0  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Y
		, <&gpio0  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // U
		, <&gpio0  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // I
		, <&gpio0  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // O
		, <&gpio0  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // P

		, <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // H
		, <&gpio0  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // J
		, <&gpio0  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // K
		, <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // L
		, <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ~

		, <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // N
		, <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // M
		, <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // &
		, <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // [
		, <&gpio0  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // ]

		, <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SYM
		, <&gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SFT
		;
};


